@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
.boxToClick{
    height: 20vh;
    line-height: 20vh;
    
    /* background-color: aqua; */
    border:1px solid black;
    cursor:pointer;
}
.boxToClick:nth-of-type(3n+3){
    border-right: none;
}
.boxToClick:nth-of-type(3n+1){
    border-left: none;
}
.boxToClick:nth-of-type(-n+3){
    border-top: none;
}
.boxToClick:nth-of-type(n+7){
    border-bottom: none;
}
.outputText{
    font-size: 2em;
    font-family: 'Rubik', sans-serif;
}